

html {
    font-size: 2rem;
}
ul {
    list-style: none;
}
li {
    border-radius: 50px;
    display: inline-block;

    border: 2px solid black;
}
li:hover
{background-color: yellow;
}
a {
    padding: 10px;
    border: 2px solid blue;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
}